<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletResponse2Client</servlet-name>
        <servlet-class>servlets.ServletResponse2Client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBHandling</servlet-name>
        <servlet-class>servlets.DBHandling</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginRecordsLookup</servlet-name>
        <servlet-class>servlets.LoginRecordsLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>servlets.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImages</servlet-name>
        <servlet-class>image_test.GetImages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LocationResponse</servlet-name>
        <servlet-class>servlets.LocationResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendanceDetails</servlet-name>
        <servlet-class>servlets.UpdateAttendanceDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertAttendanceDetails</servlet-name>
        <servlet-class>servlets.InsertAttendanceDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>servlets.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkingOutAttendance</servlet-name>
        <servlet-class>servlets.MarkingOutAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterPortal</servlet-name>
        <servlet-class>servlets.RegisterPortal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeRecordsLookup</servlet-name>
        <servlet-class>servlets.EmployeeRecordsLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttendanceLookup</servlet-name>
        <servlet-class>servlets.AttendanceLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginWebsite</servlet-name>
        <servlet-class>servlets.LoginWebsite</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletResponse2Client</servlet-name>
        <url-pattern>/ServletResponse2Client</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBHandling</servlet-name>
        <url-pattern>/DBHandling</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginRecordsLookup</servlet-name>
        <url-pattern>/LoginRecordsLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/ValidateLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImages</servlet-name>
        <url-pattern>/GetImages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LocationResponse</servlet-name>
        <url-pattern>/LocationResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertAttendanceDetails</servlet-name>
        <url-pattern>/InsertAttendanceDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/UpdateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkingOutAttendance</servlet-name>
        <url-pattern>/MarkingOutAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterPortal</servlet-name>
        <url-pattern>/RegisterPortal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeRecordsLookup</servlet-name>
        <url-pattern>/EmployeeRecordsLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttendanceLookup</servlet-name>
        <url-pattern>/AttendanceLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginWebsite</servlet-name>
        <url-pattern>/LoginWebsite</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPortal.jsp</welcome-file>
    </welcome-file-list>
</web-app>
