body {
    margin: 0;
}

/* Split the screen in half */
.split {
    height: 100%;
    /*width: 50%;*/
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    width:16%;
    text-align: center;
    margin-top: 100px;
    background: #333;
    overflow: auto;
}

/* Control the right side */
.right {
    overflow: auto;
    width:84%;
    right: 0;
    margin-top: 100px;
}

.pad-left{
    margin-left: 20px;
}

.centered_img {
    width: 150px;
    border-radius: 50%;
}


/* Style the header */
.header {
    background-color: #E6E6FA;
    /*padding: 1px;*/
    text-align: center;
    color: #1C6EA4;
}

/* Style the top navigation bar */
.navoptions {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.navoptions a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.navoptions a:hover {
  background-color: #ddd;
  color: black;
}